[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.0"
uvicorn = "==0.30.6"
langgraph = "==0.3.5"
websockets = "*"
opentelemetry-instrumentation-langchain = "*"
langchain-community = "*"
langchain-openai = "*"
python-dotenv = "*"
httpx = "*"
aiofiles = "*"
toml = "*"
openai = "*"
PyPDF2 = "*"
Pillow = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
